*.lof
~$*.pptx
*.~vsdx
*.aux
*.bbl
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.gz
*.blg
.*.swp
_ignore
.DS_Store
thesis.sublime-workspace
.build
*.bak
*.tks
*~
**v_load
**v_save
**he_key
**pub_he
**pub_he_key
**pubKey
**key1
**key2
**parms
**pub_key
**x_load
**x_save
**ope_key
**relins
**relin
*.pyc
*.db
__pycache__
eval/logs
analyst/algorithms/*.alg
analyst/algorithms/*.kpi
**.db
